# importacoes

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display

In [2]:
def printa_df(df):
    
    print(df.shape)
    display(df.head())
    
pd.set_option('display.max_columns', None)

In [7]:
df_aplicacao = pd.read_csv('../../../../base_de_dados/previous_application.csv')

printa_df(df_aplicacao)

(1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
target = pd.read_csv(r'../../../../base_de_dados/application_train.csv')[['SK_ID_CURR', 'TARGET']]

target.set_index('SK_ID_CURR', inplace=True)

printa_df(target)

(246008, 1)

            TARGET
SK_ID_CURR
456162           0
134978           0
318952           0
361264           0
260639           0

# analise

In [9]:
df_aplicacao.replace('XNA', np.nan, inplace=True)

printa_df(df_aplicacao)

(1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,NaN,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,NaN,Approved,-164,NaN,XAP,Unaccompanied,Repeater,NaN,Cash,x-sell,Contact center,-1,NaN,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,NaN,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,NaN,Cash,x-sell,Credit and cash offices,-1,NaN,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,NaN,Approved,-512,Cash through the bank,XAP,NaN,Repeater,NaN,Cash,x-sell,Credit and cash offices,-1,NaN,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,NaN,Cash,walk-in,Credit and cash offices,-1,NaN,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nulos = pd.DataFrame(df_aplicacao.isnull().sum(), columns=['Nulos'])
nulos = nulos[nulos['Nulos'] >= df_aplicacao.shape[0] * 0.3]
df_aplicacao.drop(nulos.index, axis=1, inplace=True)

In [11]:
nulos

                             Nulos
AMT_DOWN_PAYMENT            895844
RATE_DOWN_PAYMENT           895844
RATE_INTEREST_PRIMARY      1664263
RATE_INTEREST_PRIVILEGED   1664263
NAME_CASH_LOAN_PURPOSE      677918
NAME_PAYMENT_TYPE           627384
NAME_TYPE_SUITE             820405
NAME_GOODS_CATEGORY         950809
NAME_PRODUCT_TYPE          1063666
NAME_SELLER_INDUSTRY        855720
NAME_YIELD_GROUP            517215
DAYS_FIRST_DRAWING          673065
DAYS_FIRST_DUE              673065
DAYS_LAST_DUE_1ST_VERSION   673065
DAYS_LAST_DUE               673065
DAYS_TERMINATION            673065
NFLAG_INSURED_ON_APPROVAL   673065

In [12]:
df_analise = df_aplicacao.join(target, how='inner')

printa_df(df_analise)

(246008, 21)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CONTRACT_STATUS,DAYS_DECISION,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_PORTFOLIO,CHANNEL_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,PRODUCT_COMBINATION,TARGET
100002,2464459,188249,Consumer loans,4401.810,32710.5,31851.0,32710.5,SATURDAY,10,Y,1,Approved,-2035,XAP,New,POS,Country-wide,42,10.0,POS mobile with interest,1
100003,2667447,298210,Consumer loans,4405.995,46755.0,37755.0,46755.0,SATURDAY,10,Y,1,Refused,-2771,SCO,Repeater,POS,Country-wide,42,12.0,POS mobile with interest,0
100004,1739354,203078,Consumer loans,14542.200,86356.8,69084.0,86356.8,THURSDAY,21,Y,1,Approved,-1339,XAP,New,POS,Country-wide,20,5.0,POS mobile without interest,0
100006,1192502,272951,Consumer loans,8762.625,40360.5,42975.0,40360.5,SUNDAY,10,Y,1,Approved,-1354,XAP,Refreshed,POS,Country-wide,30,6.0,POS mobile with interest,0
100007,1356512,160537,Consumer loans,8550.225,57465.0,62685.0,57465.0,WEDNESDAY,8,Y,1,Approved,-1708,XAP,Repeater,POS,Regional / Local,28,10.0,POS mobile with interest,0

In [13]:
features_cat = df_analise.select_dtypes('O').columns

for feature in features_cat:
    
    display(df_analise.groupby(feature).agg({'TARGET':['mean', 'count']}))

                      TARGET
                        mean   count
NAME_CONTRACT_TYPE
Cash loans          0.080908  110385
Consumer loans      0.081296  107435
Revolving loans     0.081639   28136

                              TARGET
                                mean  count
WEEKDAY_APPR_PROCESS_START
FRIDAY                      0.081126  37078
MONDAY                      0.080157  37364
SATURDAY                    0.080791  35301
SUNDAY                      0.081375  24209
THURSDAY                    0.084092  36591
TUESDAY                     0.080931  37773
WEDNESDAY                   0.079884  37692

                               TARGET
                                 mean   count
FLAG_LAST_APPL_PER_CONTRACT
N                            0.083270    1309
Y                            0.081165  244699

                        TARGET
                          mean   count
NAME_CONTRACT_STATUS
Approved              0.080813  152203
Canceled              0.082872   46916
Refused               0.080136   42977
Unused offer          0.086401    3912

                      TARGET
                        mean   count
CODE_REJECT_REASON
CLIENT              0.086401    3912
HC                  0.080290   25819
LIMIT               0.076650    8441
SCO                 0.082982    5459
SCOFR               0.082126    1863
SYSTEM              0.066116     121
VERIF               0.092555     497
XAP                 0.081299  199116

                    TARGET
                      mean   count
NAME_CLIENT_TYPE
New               0.082295   44292
Refreshed         0.083961   20045
Repeater          0.080618  181399

                  TARGET
                    mean   count
NAME_PORTFOLIO
Cards           0.081346   21132
Cars            0.051724      58
Cash            0.079574   67924
POS             0.081102  101798

                              TARGET
                                mean   count
CHANNEL_TYPE
AP+ (Cash loan)             0.081923    8569
Car dealer                  0.066667      60
Channel of corporate sales  0.084746     826
Contact center              0.080375   11297
Country-wide                0.081685   72890
Credit and cash offices     0.080936  105120
Regional / Local            0.081862   16027
Stone                       0.080464   31219

                                  TARGET
                                    mean  count
PRODUCT_COMBINATION
Card Street                     0.080382  16459
Card X-Sell                     0.083412  11677
Cash                            0.083041  42461
Cash Street: high               0.080797   8738
Cash Street: low                0.082001   4878
Cash Street: middle             0.080348   5053
Cash X-Sell: high               0.079496   8730
Cash X-Sell: low                0.081067  19157
Cash X-Sell: middle             0.077031  21368
POS household with interest     0.080036  38870
POS household without interest  0.081394  12163
POS industry with interest      0.081034  14463
POS industry without interest   0.082474   1843
POS mobile with interest        0.082203  32724
POS mobile without interest     0.086364   3520
POS other with interest         0.084320   3463
POS others without interest     0.059126    389

# saida

In [14]:
df_aplicacao.isnull().sum()

SK_ID_PREV                          0
SK_ID_CURR                          0
NAME_CONTRACT_TYPE                346
AMT_ANNUITY                    372235
AMT_APPLICATION                     0
AMT_CREDIT                          1
AMT_GOODS_PRICE                385515
WEEKDAY_APPR_PROCESS_START          0
HOUR_APPR_PROCESS_START             0
FLAG_LAST_APPL_PER_CONTRACT         0
NFLAG_LAST_APPL_IN_DAY              0
NAME_CONTRACT_STATUS                0
DAYS_DECISION                       0
CODE_REJECT_REASON               5244
NAME_CLIENT_TYPE                 1941
NAME_PORTFOLIO                 372230
CHANNEL_TYPE                        0
SELLERPLACE_AREA                    0
CNT_PAYMENT                    372230
PRODUCT_COMBINATION               346
dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()

for col in features_cat:
    df_aplicacao[col] = le.fit_transform(df_aplicacao[col].astype(str))
    for i, v in enumerate(le.classes_):
        if v == 'nan':
            df_aplicacao[col].replace(i, np.nan,inplace=True)

In [17]:
from missingpy import MissForest

c:\users\vinic\appdata\local\programs\python\python36\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [18]:
x = df_aplicacao.drop('SK_ID_PREV', axis=1)
mf = MissForest(max_depth=10, max_iter=3, n_estimators=10, max_features=0.7, min_samples_split=10,
                min_impurity_decrease=0.01)

mf.fit(x)

MissForest(max_depth=10, max_features=0.7, max_iter=3,
           min_impurity_decrease=0.01, min_samples_split=10, n_estimators=10)

In [19]:
transform = mf.transform(x)

Iteration: 0
Iteration: 1
Iteration: 2

In [20]:
df_aplicacao[x.columns] = transform

In [21]:
df_aplicacao['valor_solicitado/liberado'] = df_aplicacao['AMT_APPLICATION'] - df_aplicacao['AMT_CREDIT']

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
ohe = OneHotEncoder(drop='first', sparse=False)
for col in features_cat:
    ohe.fit(df_aplicacao[[col]])
    labels = [col + '_' + str(i + 0) for i in range(len(ohe.categories_[0]) - 1)]
    
    df_aplicacao[labels] = ohe.transform(df_aplicacao[[col]])

In [24]:
df_saida = df_aplicacao.groupby('SK_ID_CURR').mean()

df_saida.reset_index(inplace=True)

printa_df(df_saida)

(338857, 120)

,SK_ID_CURR,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,NAME_CONTRACT_STATUS,DAYS_DECISION,CODE_REJECT_REASON,NAME_CLIENT_TYPE,NAME_PORTFOLIO,CHANNEL_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,PRODUCT_COMBINATION,valor_solicitado/liberado,NAME_CONTRACT_TYPE_0,NAME_CONTRACT_TYPE_1,NAME_CONTRACT_TYPE_2,NAME_CONTRACT_TYPE_3,WEEKDAY_APPR_PROCESS_START_0,WEEKDAY_APPR_PROCESS_START_1,WEEKDAY_APPR_PROCESS_START_2,WEEKDAY_APPR_PROCESS_START_3,WEEKDAY_APPR_PROCESS_START_4,WEEKDAY_APPR_PROCESS_START_5,FLAG_LAST_APPL_PER_CONTRACT_0,NAME_CONTRACT_STATUS_0,NAME_CONTRACT_STATUS_1,NAME_CONTRACT_STATUS_2,CODE_REJECT_REASON_0,CODE_REJECT_REASON_1,CODE_REJECT_REASON_2,CODE_REJECT_REASON_3,CODE_REJECT_REASON_4,CODE_REJECT_REASON_5,CODE_REJECT_REASON_6,CODE_REJECT_REASON_7,CODE_REJECT_REASON_8,CODE_REJECT_REASON_9,CODE_REJECT_REASON_10,CODE_REJECT_REASON_11,CODE_REJECT_REASON_12,CODE_REJECT_REASON_13,CODE_REJECT_REASON_14,CODE_REJECT_REASON_15,CODE_REJECT_REASON_16,CODE_REJECT_REASON_17,CODE_REJECT_REASON_18,CODE_REJECT_REASON_19,CODE_REJECT_REASON_20,CODE_REJECT_REASON_21,CODE_REJECT_REASON_22,CODE_REJECT_REASON_23,CODE_REJECT_REASON_24,CODE_REJECT_REASON_25,NAME_CLIENT_TYPE_0,NAME_CLIENT_TYPE_1,NAME_CLIENT_TYPE_2,NAME_CLIENT_TYPE_3,NAME_CLIENT_TYPE_4,NAME_CLIENT_TYPE_5,NAME_CLIENT_TYPE_6,NAME_CLIENT_TYPE_7,NAME_CLIENT_TYPE_8,NAME_CLIENT_TYPE_9,NAME_CLIENT_TYPE_10,NAME_CLIENT_TYPE_11,NAME_CLIENT_TYPE_12,NAME_CLIENT_TYPE_13,NAME_CLIENT_TYPE_14,NAME_CLIENT_TYPE_15,NAME_CLIENT_TYPE_16,NAME_CLIENT_TYPE_17,NAME_CLIENT_TYPE_18,NAME_CLIENT_TYPE_19,NAME_PORTFOLIO_0,NAME_PORTFOLIO_1,NAME_PORTFOLIO_2,NAME_PORTFOLIO_3,NAME_PORTFOLIO_4,NAME_PORTFOLIO_5,NAME_PORTFOLIO_6,CHANNEL_TYPE_0,CHANNEL_TYPE_1,CHANNEL_TYPE_2,CHANNEL_TYPE_3,CHANNEL_TYPE_4,CHANNEL_TYPE_5,CHANNEL_TYPE_6,PRODUCT_COMBINATION_0,PRODUCT_COMBINATION_1,PRODUCT_COMBINATION_2,PRODUCT_COMBINATION_3,PRODUCT_COMBINATION_4,PRODUCT_COMBINATION_5,PRODUCT_COMBINATION_6,PRODUCT_COMBINATION_7,PRODUCT_COMBINATION_8,PRODUCT_COMBINATION_9,PRODUCT_COMBINATION_10,PRODUCT_COMBINATION_11,PRODUCT_COMBINATION_12,PRODUCT_COMBINATION_13,PRODUCT_COMBINATION_14,PRODUCT_COMBINATION_15,PRODUCT_COMBINATION_16,PRODUCT_COMBINATION_17,PRODUCT_COMBINATION_18,PRODUCT_COMBINATION_19,PRODUCT_COMBINATION_20,PRODUCT_COMBINATION_21,PRODUCT_COMBINATION_22,PRODUCT_COMBINATION_23,PRODUCT_COMBINATION_24
0,100001.0,1.369693e+06,1.000000,3951.000000,24835.50,23787.00,24835.500000,0.000000,13.000000,1.0,1.0,0.0,-1740.0,7.0,1.000000,3.000000,4.000000,23.0,8.000000,13.0,1048.5,0.0,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
1,100002.0,1.038818e+06,1.000000,9251.775000,179055.00,179055.00,179055.000000,2.000000,9.000000,1.0,1.0,0.0,-606.0,7.0,0.000000,3.000000,7.000000,500.0,24.000000,15.0,0.0,0.0,0.0,1.000000,0.0,0.0,1.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
2,100003.0,2.281150e+06,0.666667,56553.990000,435436.50,484191.00,435436.500000,1.666667,14.666667,1.0,1.0,0.0,-1305.0,7.0,1.333333,2.666667,5.333333,533.0,10.000000,9.0,-48754.5,0.0,0.0,0.666667,0.0,0.0,0.333333,0.333333,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.333333,0.0,0.0,0.666667,0.0,0.0,0.0,0.333333,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.333333,0.0,0.333333,0.0,0.0,0.0,0.0,0.0
3,100004.0,1.564014e+06,1.000000,5357.250000,24282.00,20106.00,24282.000000,0.000000,5.000000,1.0,1.0,0.0,-815.0,7.0,0.000000,3.000000,6.000000,30.0,4.000000,14.0,4176.0,0.0,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.000000,0.0,0.0,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.0
4,100005.0,2.176837e+06,0.500000,3953.651314,22308.75,20076.75,22308.835769,2.000000,10.500000,1.0,1.0,0.5,-536.0,7.0,1.000000,2.100000,4.500000,18.0,9.397466,7.5,2232.0,0.0,0.0,0.500000,0.0,0.0,0.000000,0.000000,0.5,0.0,0.0,1.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.500000,0.0,0.0,0.5,0.000000,0.0,0.0,0.500000,0.0,0.0,0.0,0.500000,0.500000,0.0,0.000000,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.5,0.0,0.0,0.0

In [25]:
df_saida.to_csv(r'../../../../base_de_dados/features_aplicacao.csv', sep=';', index=False)